{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h1>Alugue Roupas - Evolution</h1>
    <h2>Olá {{nome}}</h2>
    <h3>idade: {{idade}}</h3>
    {% if idade >= 18 %}
    <p>
        Adulto
    </p>
    {% else %}
    <p>
        Criança
    </p>
    {% endif %}

    <ul>
        {% for roupa in roupas %}
            <li>{{roupa}}</li>
        {% endfor %}
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur,
         adipisicing elit. Quasi quae reiciendis error ab cumque! Explicabo quibusdam vitae perferendis quaerat, pariatur quas. Reprehenderit reiciendis nesciunt molestiae
         recusandae sit non blanditiis tenetur.
    </p>
    <img src="{% static 'images/roupas.jpg' %}" alt="roupas">

    {% endblock %}
