body{
    background-color:#000;
    color: white;
    margin: 0;
    padding: 5px;
}

img{
    width: 100%;
}

nav{
    align-items: center;
    background-color: antiquewhite;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

nav a{
    font-size: 14pt;
    color: indigo;
    text-decoration: none;
}